.displayCenter{
	display: flex;
	justify-content: center;
}

.displayCenterPadding{
	display: flex;
	justify-content: center;
	padding-left: 50px;
	padding-right: 50px;
}

.floatRight{
	float: right;
	margin-right: 35px;
}

.tableCentered{
	text-align: center;
}